body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0%;
  gap: 4em;
  background-size: 40vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.hidden {
  display: none;
}

.vcardFab {
  margin: 15px !important;
  top: 0;
  display: block;
  position: fixed !important;
  z-index: 99999;
  right: 0;
}
.componentContainer {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
    0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12) !important;
  -webkit-backdrop-filter: blur(8px) !;
  backdrop-filter: blur(8px);
  padding: 3.6%;
  width: 30%;
}
.noTextDecoration {
  text-decoration: none;
}
.topBanner {
  position: relative;
  width: 100vw;
  -webkit-user-drag: none;
  height: 20vw;
  object-fit: cover !important;
}
.topBanner img {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.1), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.topText {
  position: relative;
  text-align: center;
  top: 260px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  text-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 180px;
}

.topTextName {
  font-size: 3vw;
  font-weight: 600;
}

.topTextTitle {
  font-size: 2vw;
}
.profilePictureContainer {
  position: relative;
  display: flex;
  justify-content: center;
  top: -3vw;
}
.profilePicture {
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  -webkit-user-drag: none;
  height: 250px;
  width: 250px;
}

.menuButtons {
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.socials {
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.socials p {
  position: relative;
  font-size: 1.2em;
}

.mainContentContainer {
  justify-content: center;
  text-align: center;
}

.mainContent {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em;
  width: 85%;
}

.mainContent img {
  width: 100%;
  border-radius: 8px;
}
.mainContent iframe {
  width: 100%;
  border: none;
  border-radius: 0.5em;
}
.sectionTitle {
  font-size: 1.9em;
  margin-top: -2%;
  text-align: center;
}

.faq {
  margin-left: auto;
  margin-right: auto;
}
.faqContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faqTitle {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: right;
}
.faqItem {
  margin-left: 0;
  margin-right: 0;
  width: 20%;
}

.faqContent {
  max-height: 0;
  overflow: hidden;
  transition: all 1.5s cubic-bezier(0, 1, 0, 1);
  font-size: 1.2em;
}
.faqContent.show {
  height: auto;
  max-height: 9999em;
  transition: all 1.5s cubic-bezier(1, 0, 1, 0);
}

.contactUsForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactUsItem {
  margin-left: auto !important;
  display: -webkit-inline-box;
  width: 55%;
  margin-right: auto !important;
}

.formLabel {
  position: relative;
  font-weight: 600;
  font-size: 1.3rem;
  width: 100px;
}

.contactUsForm input {
  width: 15vw;
  margin-top: 15px;
}
.contactUsForm textarea {
  width: 15vw;
}
.contactUsForm button {
  margin-top: 1.6em;
  font-size: 1.3em;
  border: none;
  width: 8em;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.contactUsForm span {
  margin: 5px;
}
.bottomSection {
  margin-top: -2em;
  margin-bottom: 1.2em;
  text-align: center;
}

.bottomSectionContent {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  -moz-column-gap: 15px;
  column-gap: 0.9em;
  padding: 0.7em;
}

.iframeStyle {
  width: 100%;
  height: 30em;
}

.swiperSlide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperSlide img {
  display: block;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 8px;
  width: 100%;
}

@media (max-width: 768px) {
  .App {
    background-size: 100%;
  }
  .componentContainer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.1em;
  }

  .topBanner {
    height: 70vw;
    width: 100%;
  }
  .profilePictureContainer {
    margin-bottom: -14rem;
    top: -4rem;
  }
  .profilePicture {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 -1px 25px 0 rgba(31, 38, 135, 0.25);
    height: 180px;
    width: 180px;
  }
  .socials {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5vw;
  }

  .socials li {
    list-style: none;
    margin-bottom: 4%;
  }

  .socials a {
    font-size: 1.1rem;
  }

  .mainContent {
    font-size: 1.2em;
  }
  .mainContentImage img {
    height: 50%;
  }
  .mainContent iframe {
    position: relative;
    width: 100%;
    height: 10%;
  }

  .faqItem {
    font-size: 0.8em;
    margin-left: 0;
    margin-right: 0;
  }

  .faqContent {
    font-size: 1.4em;
    margin-bottom: 2%;
  }

  .faqContent.show {
    font-size: 1.4em;
  }
  .faq {
    width: 100%;
  }

  .sectionTitle {
    font-size: 1.7rem;
    margin-top: 1%;
    text-align: center;
  }

  .swiperSlide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiperSlide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 1em;
  }

  .contactUsForm {
    align-items: stretch;
  }
  .contactUsForm input {
    border-radius: 8px;
    width: 100%;
  }

  .contactUsItem {
    display: flex;
    margin-bottom: 2vw;
    width: 90%;
    align-items: flex-end;
  }

  .formLabel {
    font-size: 5vw;
    width: 100px;
    margin: 0;
  }
  .contactUsForm textarea {
    width: 100%;
    border-radius: 8px;
  }

  .contactUsForm button {
    width: 100%;
  }

  .topText {
    position: relative;
    width: 100%;
    top: 225px;
    margin-bottom: 115px;
  }
  .topTextName {
    font-size: 4rem;
  }
  .topTextTitle {
    font-size: 2.5rem;
  }
}
